/* ---------- Footer :) ---------- */
footer {
    margin: 0;
    padding: 10% 0% 4% 0%;
    background-color: #0086A8;
    gap: 50px;
    line-height: 1.5;
    justify-content: space-evenly;
  }
  
  address {
    font-style: normal;
    color: white;
    margin-bottom: 30px;
  }
  
  footer a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }

  footer p{
      color: white;
      margin: 0;
  }
  
  footer a:hover {
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
  }
  #flinks {
    margin-bottom: 30px;
  }
  #fsome {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  #flinks a {
    max-width: 9%;
  }
  
  hr {
    color: white;
  }

  footer img{
      width: 20px;
      height: 20px;
  }
  
  @media (min-width: 800px) {
    footer {
      display: flex;
      padding: 4% 0% 4% 0%;
    }
  }


  /* Skrifttyper */

  p{
    font-family: 'Raleway', sans-serif;
  }
  address{
    font-family: 'Raleway', sans-serif;
  }
  a{
    font-family: 'Raleway', sans-serif;
  }
  h5{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    color: white;
    font-size: 1.3;
  }